@page
@model RepositoryManagerNet.WebUI.Pages.IndexModel
@{
    List<string> test = new List<string>();
        test.Add("hello");
        test.Add("World");
    int x = 1;
    object incrementX()
    {
        x++;
        return new object();
    }
}

<table>
    <td>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
    </td>
@foreach (var item in test)
{
    <td>
        <tr>
            @x
        </tr>
        <tr>
            @item
        </tr>
    </td>
    @incrementX();
}
</table>
